USE [master]
GO
/****** Object:  Database [Faculty_DWH]    Script Date: 5/6/2023 11:06:45 PM ******/
CREATE DATABASE [Faculty_DWH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Faculty_DWH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Faculty_DWH.mdf' , SIZE = 7168KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Faculty_DWH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Faculty_DWH_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Faculty_DWH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Faculty_DWH]
GO
/****** Object:  Table [dbo].[DWH_Dep_Order]    Script Date: 5/6/2023 11:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DWH_Dep_Order](
	[DepartmentName] [varchar](50) NULL,
	[StudentID] [int] NULL,
	[StudentSemester] [int] NULL,
	[Total_Grade] [bigint] NULL,
	[Current_Date] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DWH_Grade]    Script Date: 5/6/2023 11:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DWH_Grade](
	[StudentID] [int] NULL,
	[Grade] [bigint] NULL,
	[StudentSemester] [int] NULL,
	[DepartmentID] [varchar](25) NULL,
	[Total_Grade] [bigint] NULL,
	[Current_Date] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DWH_Prof_rate]    Script Date: 5/6/2023 11:06:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DWH_Prof_rate](
	[CourseRate] [float] NULL,
	[CourseID] [varchar](10) NULL,
	[CourseName] [varchar](55) NULL,
	[ProfessorName] [varchar](50) NULL,
	[ProfessorID] [varchar](10) NULL,
	[Current_Date] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
